@import "../node_modules/react-day-picker/lib/style";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// styling for menu
.menu {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-right: 2em;
  padding-bottom: 1em;
  justify-content: space-between;
}

.menu-header {
  display: flex;
  flex-direction: column;
}

.menu-search-bar {
  display: flex;
  align-content: center;
}

.menu-search-icon {
  width: 20px;
  height: 20px;
}

// styling for menu icons
.menu-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

// styling for menu icon
.menu-icon {
  display: flex;
  justify-content: center;
  padding: 3px;
}

.menu-icon:hover {
  background-color: lightgray;
  cursor: pointer;
}

.menu-icon-logo {
  width: 25px;
  height: 25px;
}

.menu-icon-logo:active {
  background-color: lightgrey;
}

// styling for filter
.filter-container{
  margin-bottom: 0.5em;
  padding: 0.2em;
  border-bottom: 0.5px solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.filter-first-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-date-range-container{
  padding-top: 3px;
}

.filter-hide-completed-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-hide-completed-label {
  padding-right: 2.5px;
}

.filter-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 2em;
}

.filter-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-button {
  height: 25px;
  width: 25px;
}


// styling for settings
.settings-modal {
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.settings-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.settings-content {
  background-color: #fefefe;
  min-width: 300px;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
}

.category-editor {
  display: flex;
  flex-direction: row;
}

// styling for list
.todo-list {
  width: 70%;
  font-family: Helvetica, sans-serif;  
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 400px;
}

.todo-list-row {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.todo-list-row-gray-background {
  background-color: #DEDEDE;
}

.todo-list-todo-header {
  width: 20%;
}

.todo-list-item {
  width: 50%;
  min-height: 36px;
  min-width: 200px;
  display: flex;
  align-items: center;
}

.todo-list-text-input {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  outline-style: 0 0 1px 0;
  padding-left: 0.5em;
  width: 75%;
  resize: none;
  font-size: 1.5em;
  background-color: inherit;
}

.todo-list-category-input {
  width: 10%;
  min-width: 150px;
}

.todo-list-date-group {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.DayPickerInput{
  height: 36px;
  width: 200px;
}

.DayPickerInput > input {
  height: 90%;
  font-size: 1em;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  text-align: center;
  background-color: inherit;
}


// styling for color picker component
.color-picker-button-color {
    width: 36px;
    height: 14px;
    border-radius: 2px;
}

.color-picker-button-swatch {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
}

.color-picker-button-popover {
  position: absolute;
  z-index: 2;
}

.color-picker-button-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

// styling for date range input
.date-range-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5px;
  padding-right: 0.5px;
}

.date-range-input-container {
  border: 0.5px solid black;
}

// styling for login and registration form
.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 20vh;
  width: 50%;
}

.login-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 350px;
  padding: 1em;
}

.login-field-container{
  padding-bottom: 0.5em;
}

.login-field-container > input {
  height: 36px;
  width: 98%;
  border-radius: 5px;
}

.login-button-container{
  display: flex;
  justify-content: flex-end;
}

.login-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-icon:hover{
  background-color: lightgrey;
  cursor: pointer;
}

.login-error{
  color: red;
}

// styling for checkboxes and radio button from css-tricks
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }
    &:checked {
      --s: .5;
    }
  }
}


// media queries to adjust width of list for smaller devices
@media only screen and (max-width: 900px) {
  .todo-list {
    width: 100%;
  }

  .DayPickerInput{
    width: 100px;
  }

  .DayPickerInput > input {
    width: 100px;
  }

}

@media only screen and (max-width: 600px) {
  .todo-list {
    padding-left: 5%;
  }


  .todo-list-text-input {
    font-size: 1em;
  }

  .todo-list-item {
    min-width: 150px;
  }

  .DayPickerInput{
    width: 80px;
  }

  .DayPickerInput > input {
    width: 80px;
    font-size: 0.8em;
  }

  .todo-list-category-input {
    width: 10%;
    min-width: 120px;
  }

  .filter-buttons-container {
    padding-right: 0.5em;
  }

}
